@keyframes hoverUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
  }
  
  .hoverUpDown {
    animation: hoverUpDown 2s ease-in-out infinite;
  }

  .title {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.1;
    overflow: hidden;
  }
  
  .group {
    color: #DD995B;
    margin-top: 15px;
  }
  
  .button {
    padding: 8px 16px;
    border-radius: 45px;
    background-color: #DD995B;
    font-weight: 600;
    margin: 15px 0;
    color: #FBF5F0;
  }
  
  .button:hover {
    background-color: #87562A;
  }
  
  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }