/* Version 1 3D Button */
.testbutton {
    cursor: pointer;
    border: 0;
    background-color: #cd8226;
    padding: 18px 32px;
    border-radius: 6px;
    box-shadow: 0 6px 0 #cdcdcd;
    transition: .3s;
    color: white;
    height: 60px;
}

.testbutton:hover {
    background-color: #cdcdcd;
}

.testbutton:active {
    transform: translateY(5px);
    box-shadow: 0 3px 0 #cd8226;
}