@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #4F4B47;
}

main {
    flex: 1;
    background-color: #222629;
    margin: 3em 2em 0 2em;
    border-radius: 12px;
}
