/*"flex min-h-screen flex-col items-center justify-between p-24"*/
.main {
  background-color: #4F4B47;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner{
  background-color: #222629;
  margin: 80px 0px 0px 0px;
  padding: 0px 100px 50px 100px;
  min-width: 95vh;
  border-radius: 12px;
}
