/*"flex min-h-screen flex-col items-center justify-between p-24"*/
.main {
  background-color: #4F4B47;
  display: flex;
  min-height: 100vh;
  min-width: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*padding should be 190px*/
.body{
  background-color: #222629;
}
