.container {
  border-radius: 0.6vw;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.stickyRow {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: white;
}

.scrollArea {
  overflow-y: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.name {
  flex: 1;
}

.wins {
  font-size: 0.9rem;
  text-align: right;
  margin-right: 1.5vw;
}

.points {
  font-weight: bold;
  text-align: right;
}
