.title {
  font-size: 3.2vw;
  color: var(--aspa-white);
  font-weight: 400;
  line-height: 1.1;
  overflow: hidden;
}

.text {
  font-size: 1.4vw;
  line-height: 1.4;
  color: var(--aspa-white);
}

/* BUTTONS TO BE REPLACED LATER */
.button {
  width: 12vw;
  height: 4vw;
  font-size: 1.5vw;
  border-radius: 45px;
  background-color: #717882;
  font-weight: 600;
  color: #FBF5F0;
}

.button:hover {
  background-color: #8e949b;
}

.image {
  width: 60%;
  height: auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 8vw;
  }

  .IntroductionStyles {
    text-align: center;
  }

  .text {
    font-size: 3vw;
  }

  .buttonGroup {
    flex-direction: column;
    align-items: center;
  }

  .button {
    width: 35vw;
    height: 8vw;
    font-size: 3vw;
  }
  
}