.title {
  font-size: 6vw;
  color: white;
  font-weight: 700;
  line-height: 1.1;
  overflow: hidden;
  text-align: center;
}

.movingAspa {
  font-size: 6vw;
  font-weight: 700;
  line-height: 1.1;
  overflow: hidden;
  text-wrap: nowrap;
  filter: blur(3px);
  margin-top: 2vw;
  color: white;
}

.subtitle {
  font-size: 3vw;
  z-index: 3;
  color: white;
}

.text {
  font-size: 1vw;
  color: white;
}

.scrollerWrapper {
  overflow: hidden;
  width: 99vw;
  white-space: nowrap;
}

.scroller {
  display: inline-block;
  white-space: nowrap;
  width: 200%;
}

.imageContainer {
  display: flex;
  position: absolute;
  margin-top: -2vw;
  z-index: 2;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .title {
    font-size: 8vw;
  }

  .subtitle {
    font-size: 3vw;
    z-index: 3;
    color: white;
  }

  .text {
    font-size: 2vw;
    text-align: center;
  }
}
