
:root {
  --color-primary: #ebebeb;
  --color-grey: #717882;
  --color-lightgrey: #adb2b8;
  --color-darkgrey: #414750;
  --color-orange: #df8f20;
  --color-lightorange: #f2b57c;
  --color-darkorange: #b76a00;
  --color-blue: #2070df;
  --color-lightblue: #7cb8f2;
  --color-darkblue: #004a7c;
  
}

.button {
  font-family: 'Krungthep', sans-serif;
  color: var(--color-primary);
  padding: 0.75em 1.25em;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.outlined {
  outline: 3px solid var(--color-primary);
}

.button:hover,
.button:focus {
  transition: 
    background 0.4s,
    color 0.4s,
    box-shadow 0.4s,
    border 0.4s;
}

.button:active {
  transition: none;
}

/* ---------------- GREY ---------------- */
.grey {
  background: var(--color-grey);
}

.grey:hover,
.grey:focus {
  background: var(--color-lightgrey);
}

.grey:active {
  background: var(--color-darkgrey);
}

/* ---------------- ORANGE ---------------- */
.orange {
  background: var(--color-orange)
}

.orange:hover,
.orange:focus {
  background: var(--color-lightorange)
}

.orange:active {
  background: var(--color-darkorange);
}

/* ---------------- BLUE ---------------- */
.blue {
  background: var(--color-blue);
}

.blue:hover,
.blue:focus {
  background: var(--color-lightblue)
}

.blue:active {
  background: var(--color-darkblue);
}