.h1 { font-size: var(--font-size-h1)}
.h2 { font-size: var(--font-size-h2)}
.h3 { font-size: var(--font-size-h3)}
.h4 { font-size: var(--font-size-h4)}
.h5 { font-size: var(--font-size-h5)}

.button {
  font-family: var(--font-heading);
  font-weight: 500; /* thin */
  box-sizing: content-box;
  text-transform: uppercase;
  background: var(--aspa-grey);
  color: var(--aspa-white);
  padding: 0.4em 1.2em;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.outlined {
  outline: 3px solid var(--aspa-white);
}

.button:hover {
  background: #adb2b8; /* Light Grey */
  transition: 
    background 0.4s,
    color 0.4s,
    box-shadow 0.4s,
    border 0.4s;
}

.button:active {
  transition: none;
  background: #414750; /* Dark Grey */
}