@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap'); 

:root {
  --color-primary: #ebebeb;
  --color-grey: #717882;
  --color-lightgrey: #adb2b8;
  --color-darkgrey: #414750;
}

.button {
  font-family: 'Nova Square', sans-serif;
  color: var(--color-primary);
  padding: 0.75em 1.25em;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  transition: 
    background 0.5s,
    color 0.5s,
    box-shadow 0.5s,
    border 0.5s;
  display: inline-block;
}

.grey {
  background: var(--color-grey);
}


.grey:hover,
.grey:focus {
  background: var(--color-lightgrey);
}

.grey:active {
  background: var(--color-darkgrey);
  color: var(--color-primary);
}

.outline {
  outline: 3px solid var(--color-primary);
}