.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Adjust the gap as needed */
    color: #FBF5F0;
    width: 75%;
    margin: 0 auto;
    margin-top:45px;
  }
  
  .leftColumn {
    display: flex;
    flex-direction: column;
  }
  
  .rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 56px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.1;
  }
  
  .image {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
.eventsButton {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #DD995B;
    font-weight: 600;
    margin: 15px 0;
    color: #FBF5F0;
  }

  .horizontalAligned {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #DD995B;
  }
  