.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 28px;
    margin: 3.5em auto;
    border-radius: 45px;
    background: #87562A;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F4E5D7;
    margin-bottom: 1em;
    max-width: 964px;
}


.header h1 {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    border-bottom: 8px solid #F4E5D7;
    line-height: 0.95;
    overflow-y: hidden;
    margin-bottom: 8px;
}

.content {
    max-width: 90%;
    width: 964px;

}

.input {
    margin-bottom: 0.5em;
}


.input label {
    display: block;
    color: #FFFFFF;
    margin-bottom: 2px;
}


.input input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 45px;
    background-color: #F4E5D7;
}

.skillsection {
    margin-top: 1em;
}

.skillsection h2 {
    color: #F4E5D7;
    font-weight: bold;
    font-size: 30px;
}

.radioinputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

.radioinput {
    width: 30%;
}

.radioinput span {
    font-size: 30px;
}

.description {
    font-size: 16px;
}

.beginner::after {
    content: "Never Played or have only played a few times"; /* Text to add after the first span */
    display: block; /* Display the text on a new line */
    font-size: 12px; /* Adjust font size as needed */
    color: #FFFFFF;; /* Adjust text color */
    margin-top: -0.5em; /* Adjust spacing between span and added text */
    margin-left: 1.8em;
}

.intermediate::after {
    content: "Plays occasionally, more of a social player"; /* Text to add after the first span */
    display: block; /* Display the text on a new line */
    font-size: 12px; /* Adjust font size as needed */
    color: #FFFFFF;; /* Adjust text color */
    margin-top: -0.5em; /* Adjust spacing between span and added text */
    margin-left: 1.8em;
}

.advanced::after {
    content: "Frequent player, most likely have competed in tournaments"; /* Text to add after the first span */
    display: block; /* Display the text on a new line */
    font-size: 12px; /* Adjust font size as needed */
    color: #FFFFFF;; /* Adjust text color */
    margin-top: -0.5em; /* Adjust spacing between span and added text */
    margin-left: 1.8em;
}

.tc {
    color: #FFFFFF;; /* Adjust text color */
    position: relative;
    left: 4px;
    bottom: 1.5px;
}


.button {
    border-radius: 25px;
    text-align: center;
    background: #DD995B;
    padding: 14px 0;
    color: #F4E5D7;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-top: 6px;
    width: 964px;
    max-width: 90%;
}