.cardbg {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 24.75rem;
  min-height: 29.5rem;
  margin: 0px 15px;
  transition: transform 0.3s ease;
  background-color: #87562A;
  border-radius: 3rem;
  align-items: center;
}
.card:hover {
  transform: scale(0.95); 
}

.description h1 {
  font-weight: medium;
  font-size:1em;
  color: #222629;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description h2 {
  font-weight: medium;
  font-size:1em;
  color: #222629;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card p {
  font-weight: 400px;
  font-size: 2rem;
  color: #222629;
  line-height: 1.1;
  overflow: hidden;
}

.cardbg .description {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  min-height: 26.25rem;
  padding: 0px 20px;
  background-color: #FBF5F0;
  border-radius: 3rem;
  justify-content: space-between;
  padding: 2rem;
}