.footer {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 150px;
}

.p {
  width: 640px;
}
