.queryFormBorder{
    border-radius:45px;
    background-color: hsl(29, 66%, 61%);
    max-width: 1180px;
    min-width: 450px;
    width: 100%;
    min-height: 775px;
    height: 100%;
    padding: 50px;
    margin: 0 auto;
}

.queryFormBg{
    border-radius:45px;
    color: #FBF5F0;
    background-color: #87562A;
    max-width: 1080px;
    min-width: 350px;
    width: 100%;
    min-height: 675px;
    height: 100%;
    padding: 50px;
    padding-top: 25px;
}

.queryFormBg h1{
    font-weight: bold;
    text-decoration: underline 5px;
    text-align: left;
    font-size: 50px;
    color: #F4E5D7;
    text-shadow: 8px 8px #5E4127;
    text-underline-offset: 9px;
}

.queryFormBg form{
    display: flex;
    flex-direction:column;
}

.names{
    display: flex;
    flex-direction:column;
}


.queryFormRow{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.queryFormBg label{
    color: #FBF5F0;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}

.queryFormBg input{
    color: #222629;
    border-radius:45px;
    font-size: 30px;
    padding-left:30px;
    padding-right: 30px;
    margin-bottom:10px;
}

.input1{
    height: 60px;
    min-width: 250px;
    width: 100%;
    max-width: 440px;
}

.input2{
    height: 60px;
    min-width: 250px;
    max-width: 980px;
}

.queryFormBg textarea{
    color: #222629;
    border-radius: 45px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:10px;
    min-height: 190px;
    min-width: 250px;
    max-width: 980px;
}

.queryFormBg button{
    min-width: 300px;
    max-width:400px;
    height:60px;
    border-radius:45px;
    background-color:#dd995b;
    color:#FBF5F0;
    font-size: 50px;
    padding-bottom:75px;
    font-weight: bold;
    align-self: center;
    margin-top:5px;
    overflow-y: hidden;
}