@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
    border-radius: 45px;
    background-color: #87562A;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 8em auto;
    width: 80%;
  }


.title {
  font-family: 'Zilla Slab';
  font-weight: bold;
  text-decoration: underline 5px;
  text-align: center;
  width: 1178px;
  font-size: 90px;
  color: #F4E5D7;
  text-shadow: 8px 8px #5E4127;
  text-underline-offset: 9px;
  
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  width: 1178px;
  max-width: 80%;
}