.header {
    background-color: #717882;
}

.root {
    position: relative;
    width: fit-content;
    border-radius: var(--mantine-radius-md);
    height: 5vw;
}

.control {
    line-height: 1;
    color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-sm);
    transition: color 100ms ease;
    font-weight: 500;
    font-size: 1.5vw;
    width: 8vw;
    height: 5vw;
    text-align: center;
    padding-top: 2%;

    @mixin hover {
        font-weight: 1000;
    }

    &[data-active] {
        color: var(--mantine-color-white);
    }
}

.controlLabel {
    position: relative;
    z-index: 1;
}

.logoCircle {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@keyframes roll {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(var(--mantine-indicator-x, 0px)) rotate(360deg);
  }
}

.indicator {
  background: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 15%;
  left: 40%;
  z-index: 10;
}

.indicatorRotatingWrapper {
  transform: rotate(var(--rotation));
  transition: transform 0.4s ease-in-out;
}
