.header {
    background-color: #717882;
}

.root {
    position: relative;
    width: fit-content;
    border-radius: var(--mantine-radius-md);
    height: 5vw;
}

.control {
    line-height: 1;
    color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-sm);
    transition: color 100ms ease;
    font-weight: 500;
    font-size: 1.5vw;
    width: 8vw;
    height: 5vw;
    text-align: center;

    @mixin hover {
        font-weight: 1000;
    }

    &[data-active] {
        color: var(--mantine-color-white);
    }
}

.controlLabel {
    position: relative;
    z-index: 1;
}

.logoCircle {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/*.indicator {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    width: 60;
    height: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    position: absolute;
    transform: translateX(-50%);
    position: absolute;
    top: 20px; 
    transform: translateX(-50%);
    z-index: 10;
}

.indicator:before {
    content: '';
    position: absolute;
    width: 6vw;
    height: 3vw;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -0%) rotate(90deg);
}
    */

