.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 20rem;
    background-color: #DD995B;
    align-items: center;
    border: none;
    color: #F5EDE5;
}
