.header {
  background-color: var(--mantine-color-aspa-orange-5);
}

.root {
  position: relative;
  width: fit-content;
  border-radius: var(--mantine-radius-md);
  height: 9vw;
}

.control {
  line-height: 1;
  color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-md);
  font-size: var(--mantine-font-size-sm);
  transition: color 100ms ease;
  font-weight: 500;
  font-size: 2vw;
  width: 10vw;
  height: 10vw;
  text-align: center;

  @mixin hover {
    font-weight: 1000;
  }

  &[data-active] {
    color: var(--mantine-color-white);
  }
}

.controlLabel {
  position: relative;
  z-index: 1;
}

.ball {
  position: absolute;
  width: 4vh;
  height: 4vh;
  background-color: black;
  border-radius: 50%;
  transition:
    left 1.2s ease,
    transform 1s ease;
  transform: rotate(90);
  margin-left: 8.5vh;
  bottom: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball::before {
  content: '8';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vh;
  height: 2vh;
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 1.5vh;
  font-weight: bold;
}
