.pageContainer{
    margin: 10rem auto;
    background-color: #DD995B;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

.collection{
    background-color: #87562A;
    width: 100%;
    padding: 3rem;
    border: none;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #F5EDE5;
    margin-bottom: 1rem;
}