.photoGrid {
  display: grid;
  padding: 40px 5vw;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  margin-top: 1.7vw;
}

.photoCard {
  transition: transform 0.3s ease;
  aspect-ratio: 1 / 1;  
}

.photoCardHovered {
  transform: scale(1.16) ;
  z-index: 1;
  cursor: pointer;
}

.photoCardAdjacent.leftPhotos {
  transform: scale(1.08) translateX(-1.5vw);
}

.photoCardAdjacent.rightPhotos {
  transform: scale(1.08) translateX(1.5vw);
}

.leftPhotos {
  transform: translateX(-2vw); 
}

.rightPhotos {
  transform: translateX(2vw); 
}

.photoCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
