.search {
  width: 100%;
  margin: 2vw 0;
}
.searchGroup {
  display: flex;
  flex-direction: row;
  padding: 0.5vw 0;
}

.searchBarGroup {
  display: flex;
  flex: 1;
  gap: 1vw;
  width: 100%;
}

.searchBar {
  flex: 1;
}

.dropdownGroup {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .searchGroup {
    flex-direction: column;
    padding-bottom: 3vw;
  }
  .dropdownGroup {
    flex-direction: column;
  }
  .dropdownItem {
    width: 100%;
    justify-content: space-between;
  }
}
