.card {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px 15px;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(0.95); 
}
.card img {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  border-style: solid;
  border-width: 20px; 
  border-color: #DD995B;
  border-radius: 75px;
}
.card h1 {
  font-weight: medium;
  font-size:3em;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card p {
  font-weight: 400px;
  font-size: em;
  color: #FFFFFF;
  line-height: 1.1;
  overflow: hidden;
}
.card .description {
  padding: 0px 20px;
}