/* Footer.module.css */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

.footer {
    display:flex;
    flex-direction: row;
    color: white;
    padding: 1.5em 1.5em 3.5em 1.5em;
    min-width: 100vw;
  }
  

.leftcontainer {
  min-width:50%;

}

.rightcontainer {
    min-width:50%;

  }

.rightcontainer h1 {
    display: inline-block;
    margin-right: 3em;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 25%;
  min-width: 350px;
  padding-top: 1em;
}


.h1 {
  font-family: 'Zilla Slab';
  font-size: 30px;
  font-weight: bold;
}

.p {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-size: 20px;
  width: 640px;
  line-height: 100%;
  overflow: hidden;
}
