.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #87562A;
    border-radius: 2rem;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    line-height: 2.4rem;
}

.text {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #FBF5F0;
    font-size: 1.5rem;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.modal .confirmButton {
    background-color: #DD995B;
    max-width: 60%;
    height: 3rem;
    border-style: solid;
    border-color: #FBF5F0;
    border-width: 5px;
    border-radius: 3em;
    color: #FBF5F0;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0px;
}

.modal .denyButton {
    background-color: #A65656;
    max-width: 60%;
    height: 3rem;
    border-style: solid;
    border-color: #FBF5F0;
    border-width: 5px;
    border-radius: 3em;
    color: #FBF5F0;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .modal {
        width: 90%;
        padding: 0.5rem;
    }

    .text {
        font-size: 1.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .confirmButton, .denyButton {
        font-size: 1.2em;
        height: 2.5rem;
    }
}

@media (max-width: 480px) {
    .modal {
        width: 95%;
        padding: 0.5rem;
    }

    .text {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .confirmButton, .denyButton {
        font-size: 1em;
        height: 2rem;
    }
}