.nav {
  background-color: #dd995b;
  height: 5rem;
  text-align: right;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.image {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.navlinksContainer {
  display: none;
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .navlinksContainer {
    display: flex;
    font-size: 1.5rem; /* 2xl */
  }
}

.navlink {
  font-family: "Raleway", sans-serif;
  padding-left: 2.5rem; /* 10 * 0.25rem */
  padding-right: 2.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.active {
  color: #6156a6; /* Change the color or add any styles you want for the active link */
}

.navlink:hover {
  color: #6156a6;
}

.hamburgerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .hamburgerButton {
    display: none;
  }
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #dd995b;
  padding-top: 5rem; /* Space below the close button */
  z-index: 10;
}

.mobileMenu .navlink.active {
  color: #6156a6;
}

.mobileMenu .image {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 50px;
  height: 50px;
}

.mobileMenu button {
  position: absolute;
  top: 1.5rem; /* Position close button */
  right: 2rem;
  background: none;
  border: none;
}

.mobileMenu a {
  font-size: 1.5rem; /* Adjust font size for mobile menu items */
  padding: 1rem 0; /* Add padding for better touch targets */
  color: black;
  text-align: center;
  width: 100%;
}

.mobileMenu a:hover {
  background-color: #ffdab9; /* Lighten background on hover */
}

@media (min-width: 1024px) {
  .mobileMenu {
    display: none;
  }
}
