@keyframes slideInLeftBounce {
    0% {
        transform: translateX(-110%);
        opacity: 0;
    }
    60% {
        transform: translateX(30%);
        opacity: 0.4;
    }
    80% {
        transform: translateX(-10%);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.blockquote {
    transform: translateX(-110%);
    transition: opacity 1s ease-in-out;
}

.blockquote.visible {
    animation: slideInLeftBounce 1s ease-in-out forwards;
}

.blockquote {
}