.title {
    font-size: 10vw;
    text-align: center;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .title {
        font-size: 8vw;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 4vw;
    }
}